@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1024px) {
  .shadow__horizontal {
    height: 100vw;
    box-shadow: 0px -15px 15px -11px rgba(0, 0, 0, 0.08);
  }
}

@media screen and (min-width: 1024px) {
  .shadow__left {
    height: 100%;
    box-shadow: -15px 0 15px -10px rgba(0, 0, 0, 0.08);
  }
}
