@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 6, 6, 17;
    --color-text-label: 102, 111, 117;
    --color-text-placeholder: 160, 166, 172;
    --color-text-warning: 225, 55, 86;
    --color-text-inverted: 255, 255, 255;
    --color-bg-base: 249, 249, 251;
    --color-bg-card: 255, 255, 255;
    --color-button-primary: 255, 255, 255;
    --color-button-inverted: 6, 6, 17;
    --color-accent-primary: 0, 202, 185;
  }
  /* Define a new theme with different colors */
}

@media screen and (max-width: 1024px) {
  .shadow__left {
    height: 100vw;
    box-shadow: 0px -15px 15px -11px rgba(0, 0, 0, 0.08);
  }
}

@media screen and (min-width: 1024px) {
  .shadow__left {
    height: 100%;
    box-shadow: -15px 0 15px -10px rgba(0, 0, 0, 0.08);
  }
}
